@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100;300;400;500;700&family=Signika:wght@300;400;600;700&family=Sunflower:wght@300&display=swap');
*{

}
a{
  text-decoration: none;
}
ul,li{
  list-style: none;
}
#container{
  width: 1200px;
  margin: 0 auto;
}

/* header */
header{
  width: 100%;
  height: 100px;
  background-color: #07c;
}